*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-image: url(./img/header.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 850px;
    
}
.menu{
    background-color:rgb(255, 222, 173);
    height: 40px;
    
}
.menu ul{
    display: flex;
    justify-content:space-around;
    padding-top: 10px;
}
.menu li{
    list-style: none;   
 
}

.menu a:hover{
    color: white;
  
   
}
.menu a{
    text-decoration: none;
    color:palevioletred;
}
.menu img{
    width:70px;
    height:40px;
    float:left;
}
.titulo{
    text-align:center;
}
.titulo h1{
    color: white;
    font-size: 25px;
    padding-top:20px;
}
.titulo p{
    color:white;
    font-size: 10px;
    padding-bottom: 5px;
}
.titulo button{
background-color: tomato;
border-radius:30px;
color: white;
padding:5px 5px;
}
.titulo button:hover{
    color:rgb(220, 234, 94);
}
main{
    background-color: rgb(255, 99, 71);
    
}
.contenedor {
    border:1px solid yellow;
    font-size:10px;
    display:flex;
    align-items:center;
    flex-flow:row wrap;
    padding-top:20px;
}
.contenedor section h2{
    color: white;
    text-align: center;
    font-size:12px;
}
.contenedor1{
    flex: 1 1 auto;
    height: 300px;
}
.contenedor2{
    flex: 1 1 auto;
    height: 300px;
}
.contenedor3{
    flex: 1 1 auto;
    height: 300px;
}
.contenedor4{
    flex: 1 1 auto;
    height: 300px;
}
.contenedor5{
    flex: 1 1 auto;
    height: 300px;
}
.contenedor6{
    flex: 1 3 auto;
    height: 300px;
}
.contenedor img{
    width:200px;
    height:200px;
}
footer{
    background-color:black;
    color:white;
    height: 100px;
    display:flex;
    justify-content:center;
}
